.testimonial__text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
  text-align: center;
  line-height: 15px;
  color: #fff;
}

.testimonial__card {
  background: transparent;
  border: 1px solid #fff;
  /* min-width: 22rem; */
}

@media(max-width: 768px) {
  .testimonial {
    width: 80%;
  }
}

.testimonial__img {
  max-width: 100px;
  margin: 0 auto;
}

h4 {
  font-family: 'EB Garamond', serif;
}

/* p:first-of-type {
  text-transform: uppercase;
} */